.action {
  color: var(--bs-gray-400);
  cursor: pointer;

  &:hover {
    color: var(--bs-primary);
  }
}

.card {
  cursor: pointer;

  &:first-child {
    margin-top: 1.875rem;
  }

  &:hover {
    box-shadow: var(--bs-box-shadow-sm);
  }
}
